@page "/coa-master"
@implements IDisposable
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject ILogger<Index> Logger
@using AccSol.EF.Models
@using AccSol.EF.Services


<PageTitle>Chart Of Accounts</PageTitle>

<h1>Chart Of Accounts</h1>

<div>
    <AuthorizeView>
        <Authorized>
            <div class="row">
                <div class="col-md-6">
                    <a href='/coa-add' class="btn btn-primary" role="button">
                        <i class="fas fa-user-plus"></i>
                        Add Account
                    </a>
                </div>
                <div class="input-group col">
                    <input type="text" class="form-control" placeholder="Search by name"
                           @bind="_searchString" @bind:event="oninput" @onkeyup="Filter" />
                    @if (_searchString.Length > 0)
                    {
                        <div class="input-group-append">
                            <button class="btn btn-danger" @onclick="ResetSearch">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    }
                </div>
            </div>
            <br />
            @if (_list == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <table class="table table-striped align-middle table-bordered">
                    <thead class="table-success">
                        <tr>
                            <th>ID</th>
                            <th>Category</th>
                            <th>Sub-Category</th>
                            <th>Account Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var coa in _list)
                        {
                            <tr>
                                <td>@coa.ID</td>
                                <td>@coa.Category</td>
                                <td>@coa.SubCategory</td>
                                <td>@coa.AccountName</td>
                                <td>
                                    <a href='/coa-edit/@coa.ID' class="btn btn-outline-dark" role="button">
                                        Edit
                                    </a>
                                    <a href='/coa-delete/@coa.ID' class="btn btn-outline-danger" role="button">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            }

        </Authorized>
        <NotAuthorized>
            <div class="nav-item px-3">
                You are not authorized to view this page.
            </div>

        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    protected List<Coa>? _list = new();
    protected List<Coa>? _searchData = new();
    protected Coa _coa = new();
    protected string _searchString { get; set; } = string.Empty;

    [Inject]
    public ICommonService<Coa> _service { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Get();
    }
    protected async Task Get()
    {
        Logger.LogInformation("Load called");

        var list = await _service.GetAll();
        _list = list.ToList();
        _searchData = _list;
    }
    protected void Filter()
    {
        if (!string.IsNullOrEmpty(_searchString))
        {
            _list = _searchData?
                .Where(x => x.AccountName.IndexOf(_searchString, StringComparison.OrdinalIgnoreCase) != -1)
                .ToList();
        }
        else
        {
            _list = _searchData.ToList();
        }
    }
    protected void DeleteConfirm(int id)
    {
        _coa = _list.FirstOrDefault(x => x.ID == id);
    }
    public void ResetSearch()
    {
        _searchString = string.Empty;
        _list = _searchData;
    }

    private string? _currentUrl;

    protected override void OnInitialized()
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
