@page "/reports"
@implements IDisposable

@inject NavigationManager NavigationManager

<PageTitle>Reports</PageTitle>

<h1>Reports</h1>

<div>
    <AuthorizeView>
        <Authorized>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="petty-cash-report">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Petty Cash Report
                </NavLink>
            </div>
         </Authorized>
        <NotAuthorized>
            <div class="nav-item px-3">
                You are not authorized to view this page.
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
