@page "/client-delete/{id:int}"
@inject ILogger<Index> Logger
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

@using AccSol.EF.Models
@using AccSol.EF.Services

<PageTitle>@Title Client</PageTitle>

<h1>@Title Client</h1>
<hr />
<br />
<div class="form-group">
    <h4>Do you want to delete this client?</h4>
    <table class="table">
        <tbody>
            <tr>
                <td>Name</td>
                <td>@_name</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="form-group">
    <input type="submit" value="Delete" @onclick="(async () => await RemoveClient(id))" class="btn btn-danger" />
    <input type="submit" value="Cancel" @onclick="(() => Cancel())" class="btn btn-warning" />
</div>
@code {
    [Parameter]
    public int id { get; set; }
    protected string Title = "Delete";
    protected Client client = new();
    private string? _category = null;
    private string? _subCategory = null;
    private string? _name = null;

    [Inject]
    public ICommonService<Client> _service { get; set; }


    protected async Task Get()
    {
        Logger.LogInformation("Get() was called to load Client object data.");

        client = await _service.Get(id);

        _name = client?.Name;

        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        await Get(); 
    }
    protected async Task RemoveClient(int userID)
    {
        await _service.Delete(id);
        ReturnToParent();
    }

    public void Cancel()
    {
        ReturnToParent();
    }
    
    public void ReturnToParent()
    {
        NavigationManager.NavigateTo("/client-master");
    }
}
